
<h1>This is my first Angular App </h1>
<h2>Sending id: {{id}} iframeId: {{iframeID}} and iframeUrl: {{iframeUrl}}</h2>
<div class="form-group">  
<label for="id"> id:</label>
<input [(ngModel)]="user.id" id="id" name="id">
</div>
<div class="form-group">
<label for="iframeId"> iframeId:</label>
<input [(ngModel)]="user.iframeId" id="iframeId" name="iframeId">
</div>
<div class="form-group">
<label for="iframeUrl"> iframeUrl:</label>
<input [(ngModel)]="user.iframeUrl" id="iframeUrl" name="iframeUrl">
</div>
<button class="btn btn-success" (click)="addUser()">Add</button>


<router-outlet></router-outlet>
